h2 {
  font-family: 'HelveticaNeueW01-Thin';
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 30px;
  color: #183782;
  font-weight: 700;
}
h4 {
  font-family: 'HelveticaNeueW01-Thin';
  font-size: 20px;
  line-height: 120%;
  color: #183782;
  font-weight: 700;
}
th {
  font-family: 'HelveticaNeueW01-Thin';
  font-size: 17px;
  line-height: 120%;
  color: #183782;
  font-weight: bold;
}
td,
span {
  font-family: 'HelveticaNeueW01-45Ligh';
  font-size: 16px;
  color: #575656;
  letter-spacing: 0.25px;
  line-height: 30px;
}
::ng-deep .page-item.active .page-link {
  background-color: rgb(0, 85, 135);
  border-color: rgb(0, 85, 135);
}
input.form-control {
  font-size: 16px;
  height: 48px;
  box-sizing: border-box;
  width: 300px;
  border: 1px solid rgb(222, 224, 224);
  transition: border-color 0.2s ease 0s;
  border-radius: 2px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
  color: rgb(63, 64, 64);
  outline: currentcolor none medium;
  letter-spacing: 0.2px;
  padding: 0px 12px;
  line-height: normal;
}
