<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transfer">
            <h2><span>Transfer</span> {{transfer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{transfer.name}}</span>
                </dd>
                <dt><span>Direction</span></dt>
                <dd>
                    <span>{{transfer.direction}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{transfer.status}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{transfer.ownerId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transfer', transfer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
