/* ==========================================================================
Main page styles
========================================================================== */
@import '~bootstrap/dist/css/bootstrap.css';

img {
  width: 1816px;
  height: 500px;
}

h3 {
  font-size: 30px;
  font-family: 'HelveticaNeueW01-75Bold';
}
p {
  font-size: 22px;
  font-family: 'HelveticaNeueW01-Thin';
}
