<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../content/images/airbus-gal-1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Airbus gallery</h3>
            <p>Visit the Airbus photo gallery</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../content/images/airbus-gal-2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Airbus gallery</h3>
            <p>Visit the Airbus photo gallery</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../content/images/airbus-gal-3.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Airbus gallery</h3>
            <p>Visit the Airbus photo gallery</p>
        </div>
    </ng-template>
</ngb-carousel>


