.hide {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.search-row-top {
  margin-bottom: 15px;
}
.scenarioFiles-table{
  min-height: 360px;
  margin-top: 10px;


}